<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Fody" version="2.4.6" targetFramework="net461" developmentDependency="true" />
  <package id="Hjson" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net461" />
  <package id="Mono.Data.Sqlite.Portable" version="1.0.3.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
</packages>