# This config file uses Hjson syntax, for more info see https://hjson.org/

# Handles character creation/selection
svc: {
	port: 1819
	max_queue_size: 100
}
# Handles in-game data
world: {
	ip: "127.0.0.1"
	port: 18123
	max_queue_size: 100
	# timeout must be above 5s (packet is sent every 5s from client to keep alive)
	timeout: 20
}
# Handles chat
chat: {
	ip: "127.0.0.1"
	port: 18124
	max_queue_size: 100
}

database: "characters.db"